<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Team-6_EscapeRoom/src/escapeRoom/Game.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="escapeRoom.Game"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Team-6_EscapeRoom"/>
</launchConfiguration>
